<footer class="d-flex flex-column flex-md-row flex-wrap justify-content-between align-items-center py-3 mt-4 banner footer">
    <span class="mb-3 mb-md-0 ms-4 text-light">© 2024 Julien Kunzé</span>
    <div>
      <a href="{{path('app_home_mentions')}}" class="link text-decoration-none me-2">mentions légales</a>
      <span class="text-light">|</span>
      <a href="{{path('app_home_politiques')}}" class="link text-decoration-none ms-2">politiques de confidentialité</a>
    </div>

    <ul class="nav justify-content-end list-unstyled">
      <li class="me-4 mt-3"><a class="link" title="Mes applications Android" href="https://play.google.com/store/apps/developer?id=Julien%20Kunz%C3%A9&hl=fr" target='_blank'><i class="bi bi-google-play"></i></a></li>
    </ul>
  </footer>