
<h1>ATP EPS</h1>
<br>
<h3>Un tournoi ATP pour vos activités duelles</h3>
<br>
<p>En créant votre compte sécurisé, vous pourrez :</p>
<ul>
    <li>
        <p>Importer vos élèves</p>
    </li>
    <li>
       <p>Sauvegarder vos tournois</p>
    </li>
    <li>
        <p>Noter les résultats</p>
    </li>
    <li>
        <p>Exporter les résultats</p>
    </li>
</ul>
<a href="{{ path('app_register') }}" class="btn btn-primary">Créer votre compte</a>
