<h1>Bonjour ! Bienvenu sur ATP EPS !</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez mon mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
