{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Réinitialisez votre mot de passe</h1>
    <div class="col-10 col-sm-8 col-md-6 m-auto bg-light mt-4 p-4 rounded">
    <p><i>Votre mot de passe doit contenir au moins 12 caractères </i></p>
    {{ form_start(resetForm,) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary m-4">Reset password</button>
    {{ form_end(resetForm) }}
    </div>
{% endblock %}
