html {
    height: 100%;
}
body {
    background-image: url('images/background.png');
    background-size: cover;
    background-attachment: fixed;
    position : relative;
    min-height: 100%;
    padding-bottom: 6em;
}
.groupelink{
    text-decoration: none;
    color: rgb(71, 64, 64);
}
.groupelink:hover{
    text-decoration: none;
    color: rgb(117, 117, 117);
}
.table{
    width: auto;
    word-wrap: wrap;
}
td{
    vertical-align: middle;
    width:200px;
}
.tdNumber{
    text-align: center;
    width:50px;
}

.menuItem:hover > a{
    background-color: rgb(123, 123, 123);
    color: white;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.banner{
    background-color: rgba(33, 150, 243, 0.8);
}
.link{
    color:whitesmoke;
}
.link:hover{
    color:rgb(63, 62, 62);
    cursor: pointer;
}