<div class="modal" id="addGroupeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">                
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un groupe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_errors(form) }}
                {{form_start(form)}}
                {{form_widget(form)}}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary m-4" data-bs-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary m-4">Ajouter</button>
                {{form_end(form)}}
            </div>
        </div>
    </div>
</div>