<div class="modal fade" id="deleteTournamentModal{{loop.index}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">                
            <div class="modal-header">
                <h5 class="modal-title">Supprimer le tournoi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                 <p>Souhaitez-vous vraiement supprimer le groupe {{tournament.title}} ? </p>
                <p class="text-danger"><strong>Attention cette action est irréversible !</strong></p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary m-4" data-bs-dismiss="modal">Annuler</button>
            <a type="text" class="btn btn-primary m-4" href="{{path('app_tournament_delete',{'title':tournament.title})}}">Supprimer</a>
            </div>
        </div>
    </div>
</div>