<h1>Nouveau message sur atpEPS</h1>

<p>
    Un nouveau message a été posté !

<p>
    " {{ message }} "
</p>

<p>
      Répondre à : <a href="mailto:{{ emailUser }}"> <strong>{{emailUser}}</strong></a>
</p>